In [1]:
#pip install openmeteo-requests
#pip install requests-cache retry-requests numpy pandas

In [2]:
import openmeteo_requests

import requests_cache
import pandas as pd
from retry_requests import retry

In [3]:
# Setup the Open-Meteo API client with cache and retry on error
cache_session = requests_cache.CachedSession('.cache', expire_after = -1)
retry_session = retry(cache_session, retries = 5, backoff_factor = 0.2)
openmeteo = openmeteo_requests.Client(session = retry_session)

# Make sure all required weather variables are listed here
# The order of variables in hourly or daily is important to assign them correctly below
url = "https://archive-api.open-meteo.com/v1/archive"
params = {
	"latitude": 10.823,
	"longitude": 106.6296,
	"start_date": "1940-10-24",
	"end_date": "2024-10-22",
	"hourly": ["temperature_2m", "relative_humidity_2m", "dew_point_2m", "apparent_temperature", "precipitation", "rain", "snowfall", "snow_depth", "weather_code", "pressure_msl", "surface_pressure", "cloud_cover", "cloud_cover_low", "cloud_cover_mid", "cloud_cover_high", "et0_fao_evapotranspiration", "vapour_pressure_deficit", "wind_speed_10m", "wind_speed_100m", "wind_direction_10m", "wind_direction_100m", "wind_gusts_10m", "soil_temperature_0_to_7cm", "soil_temperature_7_to_28cm", "soil_temperature_28_to_100cm", "soil_temperature_100_to_255cm", "soil_moisture_0_to_7cm", "soil_moisture_7_to_28cm", "soil_moisture_28_to_100cm", "soil_moisture_100_to_255cm"],
	"timezone": "GMT"
}
responses = openmeteo.weather_api(url, params=params)

# Process first location. Add a for-loop for multiple locations or weather models
response = responses[0]
print(f"Coordinates {response.Latitude()}°N {response.Longitude()}°E")
print(f"Elevation {response.Elevation()} m asl")
print(f"Timezone {response.Timezone()} {response.TimezoneAbbreviation()}")
print(f"Timezone difference to GMT+0 {response.UtcOffsetSeconds()} s")

# Process hourly data. The order of variables needs to be the same as requested.
hourly = response.Hourly()
hourly_temperature_2m = hourly.Variables(0).ValuesAsNumpy()
hourly_relative_humidity_2m = hourly.Variables(1).ValuesAsNumpy()
hourly_dew_point_2m = hourly.Variables(2).ValuesAsNumpy()
hourly_apparent_temperature = hourly.Variables(3).ValuesAsNumpy()
hourly_precipitation = hourly.Variables(4).ValuesAsNumpy()
hourly_rain = hourly.Variables(5).ValuesAsNumpy()
hourly_snowfall = hourly.Variables(6).ValuesAsNumpy()
hourly_snow_depth = hourly.Variables(7).ValuesAsNumpy()
hourly_weather_code = hourly.Variables(8).ValuesAsNumpy()
hourly_pressure_msl = hourly.Variables(9).ValuesAsNumpy()
hourly_surface_pressure = hourly.Variables(10).ValuesAsNumpy()
hourly_cloud_cover = hourly.Variables(11).ValuesAsNumpy()
hourly_cloud_cover_low = hourly.Variables(12).ValuesAsNumpy()
hourly_cloud_cover_mid = hourly.Variables(13).ValuesAsNumpy()
hourly_cloud_cover_high = hourly.Variables(14).ValuesAsNumpy()
hourly_et0_fao_evapotranspiration = hourly.Variables(15).ValuesAsNumpy()
hourly_vapour_pressure_deficit = hourly.Variables(16).ValuesAsNumpy()
hourly_wind_speed_10m = hourly.Variables(17).ValuesAsNumpy()
hourly_wind_speed_100m = hourly.Variables(18).ValuesAsNumpy()
hourly_wind_direction_10m = hourly.Variables(19).ValuesAsNumpy()
hourly_wind_direction_100m = hourly.Variables(20).ValuesAsNumpy()
hourly_wind_gusts_10m = hourly.Variables(21).ValuesAsNumpy()
hourly_soil_temperature_0_to_7cm = hourly.Variables(22).ValuesAsNumpy()
hourly_soil_temperature_7_to_28cm = hourly.Variables(23).ValuesAsNumpy()
hourly_soil_temperature_28_to_100cm = hourly.Variables(24).ValuesAsNumpy()
hourly_soil_temperature_100_to_255cm = hourly.Variables(25).ValuesAsNumpy()
hourly_soil_moisture_0_to_7cm = hourly.Variables(26).ValuesAsNumpy()
hourly_soil_moisture_7_to_28cm = hourly.Variables(27).ValuesAsNumpy()
hourly_soil_moisture_28_to_100cm = hourly.Variables(28).ValuesAsNumpy()
hourly_soil_moisture_100_to_255cm = hourly.Variables(29).ValuesAsNumpy()

hourly_data = {"date": pd.date_range(
	start = pd.to_datetime(hourly.Time(), unit = "s", utc = True),
	end = pd.to_datetime(hourly.TimeEnd(), unit = "s", utc = True),
	freq = pd.Timedelta(seconds = hourly.Interval()),
	inclusive = "left"
)}
hourly_data["temperature_2m"] = hourly_temperature_2m
hourly_data["relative_humidity_2m"] = hourly_relative_humidity_2m
hourly_data["dew_point_2m"] = hourly_dew_point_2m
hourly_data["apparent_temperature"] = hourly_apparent_temperature
hourly_data["precipitation"] = hourly_precipitation
hourly_data["rain"] = hourly_rain
hourly_data["snowfall"] = hourly_snowfall
hourly_data["snow_depth"] = hourly_snow_depth
hourly_data["weather_code"] = hourly_weather_code
hourly_data["pressure_msl"] = hourly_pressure_msl
hourly_data["surface_pressure"] = hourly_surface_pressure
hourly_data["cloud_cover"] = hourly_cloud_cover
hourly_data["cloud_cover_low"] = hourly_cloud_cover_low
hourly_data["cloud_cover_mid"] = hourly_cloud_cover_mid
hourly_data["cloud_cover_high"] = hourly_cloud_cover_high
hourly_data["et0_fao_evapotranspiration"] = hourly_et0_fao_evapotranspiration
hourly_data["vapour_pressure_deficit"] = hourly_vapour_pressure_deficit
hourly_data["wind_speed_10m"] = hourly_wind_speed_10m
hourly_data["wind_speed_100m"] = hourly_wind_speed_100m
hourly_data["wind_direction_10m"] = hourly_wind_direction_10m
hourly_data["wind_direction_100m"] = hourly_wind_direction_100m
hourly_data["wind_gusts_10m"] = hourly_wind_gusts_10m
hourly_data["soil_temperature_0_to_7cm"] = hourly_soil_temperature_0_to_7cm
hourly_data["soil_temperature_7_to_28cm"] = hourly_soil_temperature_7_to_28cm
hourly_data["soil_temperature_28_to_100cm"] = hourly_soil_temperature_28_to_100cm
hourly_data["soil_temperature_100_to_255cm"] = hourly_soil_temperature_100_to_255cm
hourly_data["soil_moisture_0_to_7cm"] = hourly_soil_moisture_0_to_7cm
hourly_data["soil_moisture_7_to_28cm"] = hourly_soil_moisture_7_to_28cm
hourly_data["soil_moisture_28_to_100cm"] = hourly_soil_moisture_28_to_100cm
hourly_data["soil_moisture_100_to_255cm"] = hourly_soil_moisture_100_to_255cm

hourly_dataframe = pd.DataFrame(data = hourly_data)

Coordinates 10.790861129760742°N 106.63130187988281°E
Elevation 6.0 m asl
Timezone None None
Timezone difference to GMT+0 0 s

In [4]:
hourly_dataframe.to_csv('weather_data.csv', index= False)

In [5]:
hourly_dataframe.shape

(736320, 31)

In [6]:
print(hourly_dataframe.isnull())

         date  temperature_2m  relative_humidity_2m  dew_point_2m  \
0       False           False                 False         False
1       False           False                 False         False
2       False           False                 False         False
3       False           False                 False         False
4       False           False                 False         False
...       ...             ...                   ...           ...
736315  False           False                 False         False
736316  False           False                 False         False
736317  False           False                 False         False
736318  False           False                 False         False
736319  False           False                 False         False

        apparent_temperature  precipitation   rain  snowfall  snow_depth  \
0                      False          False  False     False        True
1                      False          False  False     False        True
2                      False          False  False     False        True
3                      False          False  False     False        True
4                      False          False  False     False        True
...                      ...            ...    ...       ...         ...
736315                 False          False  False     False        True
736316                 False          False  False     False        True
736317                 False          False  False     False        True
736318                 False          False  False     False        True
736319                 False          False  False     False        True

        weather_code  ...  wind_direction_100m  wind_gusts_10m  \
0              False  ...                False           False
1              False  ...                False           False
2              False  ...                False           False
3              False  ...                False           False
4              False  ...                False           False
...              ...  ...                  ...             ...
736315         False  ...                False           False
736316         False  ...                False           False
736317         False  ...                False           False
736318         False  ...                False           False
736319         False  ...                False           False

        soil_temperature_0_to_7cm  soil_temperature_7_to_28cm  \
0                           False                       False
1                           False                       False
2                           False                       False
3                           False                       False
4                           False                       False
...                           ...                         ...
736315                      False                       False
736316                      False                       False
736317                      False                       False
736318                      False                       False
736319                      False                       False

        soil_temperature_28_to_100cm  soil_temperature_100_to_255cm  \
0                              False                          False
1                              False                          False
2                              False                          False
3                              False                          False
4                              False                          False
...                              ...                            ...
736315                         False                          False
736316                         False                          False
736317                         False                          False
736318                         False                          False
736319                         False                          False

        soil_moisture_0_to_7cm  soil_moisture_7_to_28cm  \
0                        False                    False
1                        False                    False
2                        False                    False
3                        False                    False
4                        False                    False
...                        ...                      ...
736315                   False                    False
736316                   False                    False
736317                   False                    False
736318                   False                    False
736319                   False                    False

        soil_moisture_28_to_100cm  soil_moisture_100_to_255cm
0                           False                       False
1                           False                       False
2                           False                       False
3                           False                       False
4                           False                       False
...                           ...                         ...
736315                      False                       False
736316                      False                       False
736317                      False                       False
736318                      False                       False
736319                      False                       False

[736320 rows x 31 columns]

In [7]:
df=hourly_dataframe.drop(columns=['snow_depth'])
df.to_csv('weather_data.csv', index=False)

In [8]:
#Convert [Date] to datetime
hourly_dataframe['date'] = pd.to_datetime(df['date'])
hourly_dataframe.set_index('date', inplace=True)

In [9]:
hourly_dataframe.head()

,temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,precipitation,rain,snowfall,snow_depth,weather_code,pressure_msl,...,wind_direction_100m,wind_gusts_10m,soil_temperature_0_to_7cm,soil_temperature_7_to_28cm,soil_temperature_28_to_100cm,soil_temperature_100_to_255cm,soil_moisture_0_to_7cm,soil_moisture_7_to_28cm,soil_moisture_28_to_100cm,soil_moisture_100_to_255cm
date,,,,,,,,,,,,,,,,,,,,,
1940-10-24 00:00:00+00:00,24.832499,93.337585,23.682499,30.407303,0.0,0.0,0.0,NaN,1.0,1014.000000,...,330.255219,9.000000,25.532499,26.782499,27.182499,27.2325,0.445,0.451,0.472,0.485
1940-10-24 01:00:00+00:00,26.132500,85.623093,23.532499,31.626770,0.1,0.1,0.0,NaN,51.0,1014.500000,...,351.869995,11.159999,26.432499,26.732500,27.182499,27.2325,0.445,0.451,0.472,0.485
1940-10-24 02:00:00+00:00,27.382500,78.359764,23.282499,32.664993,0.1,0.1,0.0,NaN,51.0,1015.000000,...,29.744795,10.080000,27.432499,26.782499,27.182499,27.2325,0.444,0.450,0.472,0.485
1940-10-24 03:00:00+00:00,28.532499,72.395569,23.082499,34.210743,0.2,0.2,0.0,NaN,51.0,1014.400024,...,39.805527,11.520000,28.582499,26.832499,27.182499,27.2325,0.443,0.450,0.471,0.485
1940-10-24 04:00:00+00:00,29.282499,69.317970,23.082499,36.013622,0.3,0.3,0.0,NaN,51.0,1013.200012,...,81.869987,13.320000,29.632500,27.032499,27.182499,27.2325,0.442,0.449,0.471,0.485

In [10]:
hourly_dataframe.reset_index(inplace=True)
hourly_dataframe.head()

,date,temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,precipitation,rain,snowfall,snow_depth,weather_code,...,wind_direction_100m,wind_gusts_10m,soil_temperature_0_to_7cm,soil_temperature_7_to_28cm,soil_temperature_28_to_100cm,soil_temperature_100_to_255cm,soil_moisture_0_to_7cm,soil_moisture_7_to_28cm,soil_moisture_28_to_100cm,soil_moisture_100_to_255cm
0,1940-10-24 00:00:00+00:00,24.832499,93.337585,23.682499,30.407303,0.0,0.0,0.0,NaN,1.0,...,330.255219,9.000000,25.532499,26.782499,27.182499,27.2325,0.445,0.451,0.472,0.485
1,1940-10-24 01:00:00+00:00,26.132500,85.623093,23.532499,31.626770,0.1,0.1,0.0,NaN,51.0,...,351.869995,11.159999,26.432499,26.732500,27.182499,27.2325,0.445,0.451,0.472,0.485
2,1940-10-24 02:00:00+00:00,27.382500,78.359764,23.282499,32.664993,0.1,0.1,0.0,NaN,51.0,...,29.744795,10.080000,27.432499,26.782499,27.182499,27.2325,0.444,0.450,0.472,0.485
3,1940-10-24 03:00:00+00:00,28.532499,72.395569,23.082499,34.210743,0.2,0.2,0.0,NaN,51.0,...,39.805527,11.520000,28.582499,26.832499,27.182499,27.2325,0.443,0.450,0.471,0.485
4,1940-10-24 04:00:00+00:00,29.282499,69.317970,23.082499,36.013622,0.3,0.3,0.0,NaN,51.0,...,81.869987,13.320000,29.632500,27.032499,27.182499,27.2325,0.442,0.449,0.471,0.485

In [11]:
hourly_dataframe = hourly_dataframe.drop(columns=['snow_depth'] )
hourly_dataframe.to_csv('weather_data.csv', index=False)
hourly_dataframe.head()

,date,temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,precipitation,rain,snowfall,weather_code,pressure_msl,...,wind_direction_100m,wind_gusts_10m,soil_temperature_0_to_7cm,soil_temperature_7_to_28cm,soil_temperature_28_to_100cm,soil_temperature_100_to_255cm,soil_moisture_0_to_7cm,soil_moisture_7_to_28cm,soil_moisture_28_to_100cm,soil_moisture_100_to_255cm
0,1940-10-24 00:00:00+00:00,24.832499,93.337585,23.682499,30.407303,0.0,0.0,0.0,1.0,1014.000000,...,330.255219,9.000000,25.532499,26.782499,27.182499,27.2325,0.445,0.451,0.472,0.485
1,1940-10-24 01:00:00+00:00,26.132500,85.623093,23.532499,31.626770,0.1,0.1,0.0,51.0,1014.500000,...,351.869995,11.159999,26.432499,26.732500,27.182499,27.2325,0.445,0.451,0.472,0.485
2,1940-10-24 02:00:00+00:00,27.382500,78.359764,23.282499,32.664993,0.1,0.1,0.0,51.0,1015.000000,...,29.744795,10.080000,27.432499,26.782499,27.182499,27.2325,0.444,0.450,0.472,0.485
3,1940-10-24 03:00:00+00:00,28.532499,72.395569,23.082499,34.210743,0.2,0.2,0.0,51.0,1014.400024,...,39.805527,11.520000,28.582499,26.832499,27.182499,27.2325,0.443,0.450,0.471,0.485
4,1940-10-24 04:00:00+00:00,29.282499,69.317970,23.082499,36.013622,0.3,0.3,0.0,51.0,1013.200012,...,81.869987,13.320000,29.632500,27.032499,27.182499,27.2325,0.442,0.449,0.471,0.485

In [12]:
missing_data = hourly_dataframe.isnull().sum()
print(missing_data)

date                             0
temperature_2m                   0
relative_humidity_2m             0
dew_point_2m                     0
apparent_temperature             0
precipitation                    0
rain                             0
snowfall                         0
weather_code                     0
pressure_msl                     0
surface_pressure                 0
cloud_cover                      0
cloud_cover_low                  0
cloud_cover_mid                  0
cloud_cover_high                 0
et0_fao_evapotranspiration       0
vapour_pressure_deficit          0
wind_speed_10m                   0
wind_speed_100m                  0
wind_direction_10m               0
wind_direction_100m              0
wind_gusts_10m                   0
soil_temperature_0_to_7cm        0
soil_temperature_7_to_28cm       0
soil_temperature_28_to_100cm     0
soil_temperature_100_to_255cm    0
soil_moisture_0_to_7cm           0
soil_moisture_7_to_28cm          0
soil_moisture_28_to_100cm        0
soil_moisture_100_to_255cm       0
dtype: int64

In [13]:
hourly_dataframe = hourly_dataframe.drop(columns=['apparent_temperature'] )
hourly_dataframe.to_csv('weather_data.csv', index=False)
hourly_dataframe.head()

,date,temperature_2m,relative_humidity_2m,dew_point_2m,precipitation,rain,snowfall,weather_code,pressure_msl,surface_pressure,...,wind_direction_100m,wind_gusts_10m,soil_temperature_0_to_7cm,soil_temperature_7_to_28cm,soil_temperature_28_to_100cm,soil_temperature_100_to_255cm,soil_moisture_0_to_7cm,soil_moisture_7_to_28cm,soil_moisture_28_to_100cm,soil_moisture_100_to_255cm
0,1940-10-24 00:00:00+00:00,24.832499,93.337585,23.682499,0.0,0.0,0.0,1.0,1014.000000,1013.302673,...,330.255219,9.000000,25.532499,26.782499,27.182499,27.2325,0.445,0.451,0.472,0.485
1,1940-10-24 01:00:00+00:00,26.132500,85.623093,23.532499,0.1,0.1,0.0,51.0,1014.500000,1013.805420,...,351.869995,11.159999,26.432499,26.732500,27.182499,27.2325,0.445,0.451,0.472,0.485
2,1940-10-24 02:00:00+00:00,27.382500,78.359764,23.282499,0.1,0.1,0.0,51.0,1015.000000,1014.307983,...,29.744795,10.080000,27.432499,26.782499,27.182499,27.2325,0.444,0.450,0.472,0.485
3,1940-10-24 03:00:00+00:00,28.532499,72.395569,23.082499,0.2,0.2,0.0,51.0,1014.400024,1013.710999,...,39.805527,11.520000,28.582499,26.832499,27.182499,27.2325,0.443,0.450,0.471,0.485
4,1940-10-24 04:00:00+00:00,29.282499,69.317970,23.082499,0.3,0.3,0.0,51.0,1013.200012,1012.513733,...,81.869987,13.320000,29.632500,27.032499,27.182499,27.2325,0.442,0.449,0.471,0.485

In [14]:
hourly_dataframe.head()

,date,temperature_2m,relative_humidity_2m,dew_point_2m,precipitation,rain,snowfall,weather_code,pressure_msl,surface_pressure,...,wind_direction_100m,wind_gusts_10m,soil_temperature_0_to_7cm,soil_temperature_7_to_28cm,soil_temperature_28_to_100cm,soil_temperature_100_to_255cm,soil_moisture_0_to_7cm,soil_moisture_7_to_28cm,soil_moisture_28_to_100cm,soil_moisture_100_to_255cm
0,1940-10-24 00:00:00+00:00,24.832499,93.337585,23.682499,0.0,0.0,0.0,1.0,1014.000000,1013.302673,...,330.255219,9.000000,25.532499,26.782499,27.182499,27.2325,0.445,0.451,0.472,0.485
1,1940-10-24 01:00:00+00:00,26.132500,85.623093,23.532499,0.1,0.1,0.0,51.0,1014.500000,1013.805420,...,351.869995,11.159999,26.432499,26.732500,27.182499,27.2325,0.445,0.451,0.472,0.485
2,1940-10-24 02:00:00+00:00,27.382500,78.359764,23.282499,0.1,0.1,0.0,51.0,1015.000000,1014.307983,...,29.744795,10.080000,27.432499,26.782499,27.182499,27.2325,0.444,0.450,0.472,0.485
3,1940-10-24 03:00:00+00:00,28.532499,72.395569,23.082499,0.2,0.2,0.0,51.0,1014.400024,1013.710999,...,39.805527,11.520000,28.582499,26.832499,27.182499,27.2325,0.443,0.450,0.471,0.485
4,1940-10-24 04:00:00+00:00,29.282499,69.317970,23.082499,0.3,0.3,0.0,51.0,1013.200012,1012.513733,...,81.869987,13.320000,29.632500,27.032499,27.182499,27.2325,0.442,0.449,0.471,0.485

In [15]:
hourly_dataframe.describe()

,temperature_2m,relative_humidity_2m,dew_point_2m,precipitation,rain,snowfall,weather_code,pressure_msl,surface_pressure,cloud_cover,...,wind_direction_100m,wind_gusts_10m,soil_temperature_0_to_7cm,soil_temperature_7_to_28cm,soil_temperature_28_to_100cm,soil_temperature_100_to_255cm,soil_moisture_0_to_7cm,soil_moisture_7_to_28cm,soil_moisture_28_to_100cm,soil_moisture_100_to_255cm
count,736320.000000,736320.000000,736320.000000,736320.000000,736320.000000,736320.0,736320.000000,736320.000000,736320.000000,736320.000000,...,736320.000000,736320.000000,736320.000000,736320.000000,736320.000000,736320.000000,736320.000000,736320.000000,736320.000000,736320.000000
mean,26.783504,79.208939,22.483744,0.207653,0.207653,0.0,15.387978,1009.509705,1008.820007,46.293339,...,179.580154,17.618042,29.476654,29.390102,29.346958,29.313063,0.332376,0.392599,0.409177,0.459840
std,2.958669,15.549060,2.250139,0.731308,0.731308,0.0,23.412634,2.418026,2.414877,28.144089,...,84.483322,8.910673,4.448919,2.218418,1.687299,1.243000,0.151164,0.085690,0.064390,0.027989
min,14.674000,19.032005,7.324000,0.000000,0.000000,0.0,0.000000,999.400024,998.720581,0.000000,...,0.616047,0.720000,17.674002,21.874001,24.674002,26.232500,0.027000,0.236000,0.254000,0.375000
25%,24.624001,69.947815,21.424002,0.000000,0.000000,0.0,1.000000,1007.799988,1007.119141,26.100000,...,120.784081,10.440001,26.324001,27.824001,28.224001,28.474001,0.154000,0.298000,0.347000,0.437000
50%,26.174002,82.812531,23.274000,0.000000,0.000000,0.0,1.000000,1009.400024,1008.719788,42.599998,...,169.695206,16.559999,28.261000,28.924002,28.974001,29.174002,0.415000,0.428000,0.413000,0.462000
75%,28.774000,92.210609,23.974001,0.100000,0.100000,0.0,51.000000,1011.099976,1010.411865,65.100006,...,242.102829,23.039999,31.524000,30.674002,30.374001,30.074001,0.463000,0.472000,0.471000,0.484000
max,39.160999,100.000000,27.874001,22.299999,22.299999,0.0,65.000000,1020.700012,1019.997070,100.000000,...,360.000000,72.000000,51.310997,39.560997,36.760998,34.160999,0.522000,0.520000,0.520000,0.520000

In [16]:
hourly_dataframe = hourly_dataframe.drop(columns=['soil_temperature_7_to_28cm','soil_temperature_28_to_100cm','soil_temperature_100_to_255cm','soil_moisture_7_to_28cm','soil_moisture_28_to_100cm','soil_moisture_100_to_255cm'] )
hourly_dataframe.to_csv('weather_data.csv', index=False)
hourly_dataframe.head()

,date,temperature_2m,relative_humidity_2m,dew_point_2m,precipitation,rain,snowfall,weather_code,pressure_msl,surface_pressure,...,cloud_cover_high,et0_fao_evapotranspiration,vapour_pressure_deficit,wind_speed_10m,wind_speed_100m,wind_direction_10m,wind_direction_100m,wind_gusts_10m,soil_temperature_0_to_7cm,soil_moisture_0_to_7cm
0,1940-10-24 00:00:00+00:00,24.832499,93.337585,23.682499,0.0,0.0,0.0,1.0,1014.000000,1013.302673,...,3.0,0.056922,0.208786,2.276840,2.902413,341.564941,330.255219,9.000000,25.532499,0.445
1,1940-10-24 01:00:00+00:00,26.132500,85.623093,23.532499,0.1,0.1,0.0,51.0,1014.500000,1013.805420,...,48.0,0.200267,0.486653,2.189795,2.545584,350.537750,351.869995,11.159999,26.432499,0.445
2,1940-10-24 02:00:00+00:00,27.382500,78.359764,23.282499,0.1,0.1,0.0,51.0,1015.000000,1014.307983,...,84.0,0.320381,0.788332,2.595997,2.902413,33.690102,29.744795,10.080000,27.432499,0.444
3,1940-10-24 03:00:00+00:00,28.532499,72.395569,23.082499,0.2,0.2,0.0,51.0,1014.400024,1013.710999,...,81.0,0.449920,1.075236,2.305125,2.811690,51.340172,39.805527,11.520000,28.582499,0.443
4,1940-10-24 04:00:00+00:00,29.282499,69.317970,23.082499,0.3,0.3,0.0,51.0,1013.200012,1012.513733,...,41.0,0.568134,1.248052,2.160000,2.545584,90.000000,81.869987,13.320000,29.632500,0.442

In [17]:
# average temp 
hourly_dataframe['average_temp'] = (hourly_dataframe['temperature_2m'] + hourly_dataframe['relative_humidity_2m'] + hourly_dataframe['dew_point_2m']) / 3

#average precipitation
hourly_dataframe['average_precipitation'] = (hourly_dataframe['precipitation'] + hourly_dataframe['rain'] + hourly_dataframe['snowfall']) / 3

#average humidity
hourly_dataframe['relative_humidity_2m'] = hourly_dataframe['relative_humidity_2m'] / 100

hourly_dataframe.head()

,date,temperature_2m,relative_humidity_2m,dew_point_2m,precipitation,rain,snowfall,weather_code,pressure_msl,surface_pressure,...,vapour_pressure_deficit,wind_speed_10m,wind_speed_100m,wind_direction_10m,wind_direction_100m,wind_gusts_10m,soil_temperature_0_to_7cm,soil_moisture_0_to_7cm,average_temp,average_precipitation
0,1940-10-24 00:00:00+00:00,24.832499,0.933376,23.682499,0.0,0.0,0.0,1.0,1014.000000,1013.302673,...,0.208786,2.276840,2.902413,341.564941,330.255219,9.000000,25.532499,0.445,47.284195,0.000000
1,1940-10-24 01:00:00+00:00,26.132500,0.856231,23.532499,0.1,0.1,0.0,51.0,1014.500000,1013.805420,...,0.486653,2.189795,2.545584,350.537750,351.869995,11.159999,26.432499,0.445,45.096027,0.066667
2,1940-10-24 02:00:00+00:00,27.382500,0.783598,23.282499,0.1,0.1,0.0,51.0,1015.000000,1014.307983,...,0.788332,2.595997,2.902413,33.690102,29.744795,10.080000,27.432499,0.444,43.008255,0.066667
3,1940-10-24 03:00:00+00:00,28.532499,0.723956,23.082499,0.2,0.2,0.0,51.0,1014.400024,1013.710999,...,1.075236,2.305125,2.811690,51.340172,39.805527,11.520000,28.582499,0.443,41.336857,0.133333
4,1940-10-24 04:00:00+00:00,29.282499,0.693180,23.082499,0.3,0.3,0.0,51.0,1013.200012,1012.513733,...,1.248052,2.160000,2.545584,90.000000,81.869987,13.320000,29.632500,0.442,40.560989,0.200000

In [18]:
#avg, median, min. max, variance temp by month divided by year
avg_temp = hourly_dataframe.groupby([hourly_dataframe['date'].dt.month, hourly_dataframe['date'].dt.year])['average_temp'].mean()
median_temp = hourly_dataframe.groupby([hourly_dataframe['date'].dt.month, hourly_dataframe['date'].dt.year])['average_temp'].median()
min_temp = hourly_dataframe.groupby([hourly_dataframe['date'].dt.month, hourly_dataframe['date'].dt.year])['average_temp'].min()
max_temp = hourly_dataframe.groupby([hourly_dataframe['date'].dt.month, hourly_dataframe['date'].dt.year])['average_temp'].max()
variance_temp = hourly_dataframe.groupby([hourly_dataframe['date'].dt.month, hourly_dataframe['date'].dt.year])['average_temp'].var()

#avg, median, min. max, precipitation temp by month divided by year
avg_precipitation = hourly_dataframe.groupby([hourly_dataframe['date'].dt.month, hourly_dataframe['date'].dt.year])['average_precipitation'].mean()
median_precipitation = hourly_dataframe.groupby([hourly_dataframe['date'].dt.month, hourly_dataframe['date'].dt.year])['average_precipitation'].median()
min_precipitation = hourly_dataframe.groupby([hourly_dataframe['date'].dt.month, hourly_dataframe['date'].dt.year])['average_precipitation'].min()
max_precipitation = hourly_dataframe.groupby([hourly_dataframe['date'].dt.month, hourly_dataframe['date'].dt.year])['average_precipitation'].max()
variance_precipitation = hourly_dataframe.groupby([hourly_dataframe['date'].dt.month, hourly_dataframe['date'].dt.year])['average_precipitation'].var()

#avg, median, min. max, humidity temp by month divided by year 
avg_humidity = hourly_dataframe.groupby([hourly_dataframe['date'].dt.month, hourly_dataframe['date'].dt.year])['relative_humidity_2m'].mean()
median_humidity = hourly_dataframe.groupby([hourly_dataframe['date'].dt.month, hourly_dataframe['date'].dt.year])['relative_humidity_2m'].median()
min_humidity = hourly_dataframe.groupby([hourly_dataframe['date'].dt.month, hourly_dataframe['date'].dt.year])['relative_humidity_2m'].min()
max_humidity = hourly_dataframe.groupby([hourly_dataframe['date'].dt.month, hourly_dataframe['date'].dt.year])['relative_humidity_2m'].max()
variance_humidity = hourly_dataframe.groupby([hourly_dataframe['date'].dt.month, hourly_dataframe['date'].dt.year])['relative_humidity_2m'].var()